{:duct.core/project-ns  duct-api-sample
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql {}

 :duct.core/include
 ["duct_api_sample/migrations"
  "duct_api_sample/routes"]}
