{:duct.middleware.buddy/authentication
 {:backend :jws
  :secret #duct/env "JWT_SECRET"}

 :duct.router/ataraxy
 {:middleware {:jws-auth #ig/ref :duct.middleware.buddy/authentication}}

 :duct.module/ataraxy
 {[:post "/users" {{:keys [email password]} :body-params}] [:users/create email password]
  [:post "/users/signin" {{:keys [email password]} :body-params}] [:users/signin email password]}

 :duct-api-sample.handler.users/create
 {:db #ig/ref :duct.database/sql
  :jwt-secret #duct/env "JWT_SECRET"}

 :duct-api-sample.handler.users/signin
 {:db #ig/ref :duct.database/sql
  :jwt-secret #duct/env "JWT_SECRET"}}
